@media (max-width:1300px){/*1150*/
    
    .header{
        justify-content: space-between !important;
        justify-content: 0 auto;
     }

     .header-left{
        margin-left: 5%;
        margin: 0 auto;
        padding: 10px;
    }

    .header-icon{
        margin-left: auto;
        display: block;
        padding: 10px ;
        width: 26px;
    }

    .header-mid{
        background-color:  rgb(237, 238, 239);
        flex-direction: column;
        margin-top: 22px;
        display:none;
        
        
    }
    .UstButton{
        background-color: rgb(237, 238, 239);
        margin-right : 0;
        margin-top: 5px;
        
    }
    
    .header-right{
        display:none ;
    }

     .AsagıDiv{
        flex-direction: column;
        display: flex ;
        
     }
     .AsagıDivSol{
        width: 80% ;
    }
     .AsagıUst{
        display: inline ;
    }
    .Ornekler{
        margin-top: 30px ;
        font-size: 35px;
        width: 100% ;
    }
    .yazilar{
        font-size: 25px;
    }
    .OrneklerYan{
        margin-left: 0px ;
    }
    
    .AsagıAlt{
        display: inline ;
    }
    .AsagıDivSag {
        margin-left: 80px;
        margin-top: 50px;
        margin-right: 0;
        height: 500px;
    }
     
}
@media (min-width:1301px){/*icona 2 kere basılıp siteyi büyültünce menülerin gözükmesi için */
 
    .header-mid{
        display:flex !important ;
    }
}